<div class="jumbotron">
  <h1 class="title">MSL招聘网</h1>
  <p class="slogan">MSL招聘网 是MSL公司的招聘网站。
  <br>
  我们希望藉由这个网站，能让大家更好了解到MSL正在招聘的职位。
  <br>
   欢迎求职者应聘自己心仪的职位，凭借自己的努力和天份成为我们的一员。
  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
</div>

<section id="jobdisplay">
  <div class = "container-fluid">

  </div>
</section>

<section id="employeedisplay">
  <div class = "container-fluid">

  </div>
</section>

<section id="company">
  <div class = "container-fluid">
    <h3 style="text-align:center; color: rgb(46,125,50);">联系我们</h3>
    <div class="row">
      <div class="col-sm-3 ">
        <div class="thumbnail">
          <img src="https://ww1.sinaimg.cn/large/006tKfTcly1ff4k1ci2c2j301s01s0nj.jpg" alt="search" class = "img-thumbnail">
          <div class="caption">
            <h3>上海金茂大厦</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-3 ">
        <div class="thumbnail">
          <img src="https://ww3.sinaimg.cn/large/006tKfTcly1ff4k0347osj301s01sdfl.jpg" alt="bid" class = "img-thumbnail">
          <div class="caption">
            <h3>hr-it@msl.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-3 ">
        <div class="thumbnail">
          <img src="https://ww1.sinaimg.cn/large/006tKfTcly1ff4k0vkx03j301s01sjr5.jpg" alt="telephone" class = "img-thumbnail">
          <div class="caption">
            <h3>021-26691188</h3>
          </div>
        </div>
      </div>

      <div class="col-sm-3 ">
        <div class="thumbnail">
          <img src="https://ww2.sinaimg.cn/large/006tKfTcly1ff4k23f245j301s01sa9t.jpg" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h3>www.msl.com</h3>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
