<div class="row">
  <div class="jumbotron">
    <h1 class="title">MSL招聘网</h1>
    <p class="slogan">MSL招聘网 是MSL公司的招聘网站。
    <br>
    我们希望藉由这个网站，能让大家更好了解到MSL正在招聘的职位。
    <br>
     欢迎求职者应聘自己心仪的职位，凭借自己的努力和天份成为我们的一员。
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">查看全部职位</a></p>
  </div>
</div>

<div class="row">
  <div id="jobdisplay">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <h3 class="jobdisplaytitle">我们的职位有</h3>
        </div>

        <div class="col-sm-4 ">
          <h3>系统架构师</h3>

          <h3>软件开发工程师</h3>


        </div>

        <div class="col-sm-4 ">
          <h3>项目经理</h3>

          <h3>软件测试工程师</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div id="employeedisplay">
    <div class = "container-fluid">
      <div class="col-sm-4">
        <h3 class="employeedisplaytitle">他们如是说</h3>
      </div>

      <div class="col-sm-4 ">
        <h3 style="margin-left:55px;">入职3年</h3>

        <img src="https://ww2.sinaimg.cn/large/006tKfTcly1ff54nntu9rj305k05jglf.jpg" alt="people3" class = "img-thumbnail">
        <p>MSL有很多实践机会,帮助我更快成长.</p>
      </div>

      <div class="col-sm-4 ">
        <h3 style="margin-left:55px;">入职5年</h3>
        <img src="https://ww4.sinaimg.cn/large/006tKfTcly1ff54o97mkuj305k05kdfp.jpg" alt="people5" class = "img-thumbnail">
        <p>MSL有一个积极进取的团队.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <section id="company">
    <div class = "container-fluid">
      <h3 style="text-align:center; color: rgb(46,125,50);">联系我们</h3>
      <div class="row">
        <div class="col-sm-3 ">
          <div class="thumbnail">
            <img src="https://ww1.sinaimg.cn/large/006tKfTcly1ff4k1ci2c2j301s01s0nj.jpg" alt="search" class = "img-thumbnail">
            <div class="caption">
              <h3>上海金茂大厦</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-3 ">
          <div class="thumbnail">
            <img src="https://ww3.sinaimg.cn/large/006tKfTcly1ff4k0347osj301s01sdfl.jpg" alt="bid" class = "img-thumbnail">
            <div class="caption">
              <h3>hr-it@msl.com</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-3 ">
          <div class="thumbnail">
            <img src="https://ww1.sinaimg.cn/large/006tKfTcly1ff4k0vkx03j301s01sjr5.jpg" alt="telephone" class = "img-thumbnail">
            <div class="caption">
              <h3>021-26691188</h3>
            </div>
          </div>
        </div>

        <div class="col-sm-3 ">
          <div class="thumbnail">
            <img src="https://ww2.sinaimg.cn/large/006tKfTcly1ff4k23f245j301s01sa9t.jpg" alt="heart" class = "img-thumbnail">
            <div class="caption">
              <h3>www.msl.com</h3>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
