/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 .navbar.default-menu{
   background-color: #002E2E;
 }

 .default-menu.menu-4 .default-logo {
   color: #fff;
 }

 .default-menu.menu-4 .navbar-nav > li > a{
   color: #fff;
 }

 .default-menu.navbar-default .navbar-nav > li > a:hover{
   color: #4A6BB5;
 }

 .btn.btn-default.navbar-btn{
   margin-left: 20px;
 }

 .intro{
    height: 650px;
    background: image_url("intro.jpg") no-repeat scroll top center/ cover;
}

.intro-content > h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 55px;
    margin-bottom: 25px;
    text-transform: capitalize;
    word-spacing: 6px;
}

.intro-content > p {
    color: #f8f8f8;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 75px;
}
